<div class="nav-slide">
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
  <app-nav-button iconName="swap_vert" title="Nova Transferencia" ></app-nav-button>
</div>
