@import '../../../styles';

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  color: $input-color;
  padding: 3rem 1.5rem;

  .user-container {
    display: flex;
  }
}

.user_account {
  height: 3rem;
  width: auto;
  font-size: 3rem;
  padding-right: 8px;
}

.greetings {
  font-size: 1rem;
  margin: 0;
}

.notifications_icon {
  height: 2rem;
  width: auto;
  font-size: 2rem;
}

.notification_button {
  border-radius: 0.5rem;
  width: 15%;
}

.dashboard-container {
  background-color: $bg-color;
  padding: 1.5rem;

  .balance-container {
    display: flex;
    justify-content: space-between;
    min-width: 30%;
    max-width: 60%;
    background-color: $primary-color;
    border-radius: 0.3rem;
    color: $input-color;
    padding: 10px;

  }
}
